body{
  background-color: #e7e5e4 ;
  /* text-align: center; */

}
ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none;
  padding: 10px;
cursor: pointer;
}
a{
  text-decoration: none;
  color: crimson;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  transition: all 0.3s ease;
  padding: 10px 20px;
}
a:hover{
  color: rgba(117, 5, 5, 0.518);
  background-color: rgba(255, 255, 212, 0.271);
}
a:active{
  color: darkred;
}
a:visited{
  color: #4545455a;
}
i{
  font-size: 40px;
}