body{
  background-color: #e7e5e4 ;
  margin: 0 auto;
  padding: 0 auto;
max-width: 1400px;
width: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header a{
color: crimson;
font-weight: bold;
text-decoration: none;
margin-top: 30px;
margin-bottom: 0;
font-size: 36px;
cursor: pointer;

}
main{
  margin-bottom: 280px;
}
main ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
li{
  list-style: none;
  padding: 10px;
}
 main li{
cursor: pointer;
}
main a{
  text-decoration: none;
  color: crimson;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  transition: all 0.3s ease;
  padding: 10px 20px;
}
main a:hover{
  color: rgba(117, 5, 5, 0.518);
  background-color: rgba(255, 255, 212, 0.271);
}
main a:active{
  color: darkred;
}
main a:visited{
  color: #4545455a;
}
i{
  font-size: 40px;
}
footer{
  border-color: #e7e5e4;

}
footer ul{
  display: flex;
  align-items: center;
  /* position: fixed; */
margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
footer ul a{
  display: block;
}
footer ul svg path{
  display: block;
  color:  #2d75f0;
  transition: all 0.4s ease;
}
footer ul svg:hover path{
  fill: crimson;
/* background-color: transparent ; */
/* color: red; */
}
@media only screen and (max-width:1200px) {
  main{
    margin-bottom: 220px;
  }

}
}
@media only screen and (max-width:1000) {
  main{
    margin-bottom: 100px;
  }

}
}
@media only screen and (max-width:600) {
  main{
    margin-bottom: 80px;
  }

}
@media only screen and (max-width:500) {
  main{
    margin-bottom: 30px;
  }
}