body{
  background-color: #e7e5e4 ;
  text-align: center;
}
ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none;
  padding: 10px;

}
a{
  text-decoration: none;
  color: crimson;
  font-weight: 700;
}